<article class="blog-item">
	<a href="<%= post['url'] %>"><h2><%= post['headline'] %></h2></a>
	<b><time datetime=""><%= formatDate(post['datePublished']) %></time></b>
	<p><%= post['description'] %></p>
</article>