<%- include('partials/head.ejs', {title: 'Weekly Nerd 8: Aan het werk, wat nu?'}); %>
	
<header>
		<hgroup>
			<p>Weekly Nerd 8</p>
			<h1>Aan het werk, wat nu</h1>
		</hgroup>
		<p>Door: Robert Spier op <time datetime="2024-05-15">15 mei 2024</time></p>
</header>
<main>

	<p>Robert Spier heeft zelf CMD gestudeerd en daarna nog verder gegaan met Information Systems aan de Universiteit van Amsterdam. Hoewel Robert als docent bij CMD heeft gewerkt, is hij overgestapt naar werken als creative technologist bij Deloitte. Robert vertelde ons over zijn eigen werk en wat voor werk we na CMD kunnen gaan doen en wat we daaraan kunnen gaan verdienen.</p>

	<h2>Roberts Werk</h2>

	<h3>Wat is een Creative Technologist?</h3>

	<p>Robert noemt zichzelf een soort digitale <i>super hero</i>. Hij doet dingen met <i>front-end development</i>, <i>emerging technologies</i>, qualitatief onderzoek, het managen van <i>stakeholders</i>, creatieve oplossingen bedenken en automatiseren. Robert noemt een aantal projecten waar hij aan werkt. Een daarvan is een chatGPT voor intern gebruik in Deloitte, die dus specifiek meer weet over het bedrijf. Voor een andere opdracht werkt Robert aan een <i>deepfake</i> van de oprichter van het bedrijf, die gaat gebruikt worden voor aankondegingen binnen het bedrijf. Robert werkt dus vooral aan interne projecten.</p>
		
	<h2>Wat kan je doen na CMD?</h2>

	<p>Er zijn veel richtingen die je als CMD'er op kan en veel manieren waarop je dat kan doen. Richtingen zijn natuurlijk <i>user experience design</i> en <i>front-end development</i>, maar ook marketing. Wat Robert raar vindt, omdat dit niet onderdeel is van CMD, maar die studenten hebben dan de minor ondernemersschap gedaan. Binnen <i>development</i> kan je ook van alles doen. Je kan bijvoorbeeld bij een <i>design agency</i> of <i>webshop</i> werken. Daar horen taken bij als onderzoeken, praten met klanten, managen etc. Dit kan ook op verschillende manieren, je kan door bij je stage, een <i>traineeship</i>, als <i>freelancer</i> of nog doorstuderen.

	<h3>Voorbeelden</h3>
	<p>Robert geeft een aantal voorbeelden van wat studenten hebben gedaan. Hij noemt daarbij ook hoeveel ze verdienen:</p>

	<ul>
		<li>
			<h4>Detachering bij Energy</h4>
			<ul>
				<li>Jaar: 2022</li>
				<li>Tools: Angular, Tailwind</li>
				<li>Salaris: € 3000,-</li>
			</ul>
		</li>
		<li>
			<h4>Traineeship bij Finance</h4>
			<ul>
				<li>Jaar: 2023</li>
				<li>Tools: Vue, Bootstrap</li>
				<li>Salaris: € 2900,-</li>
			</ul>
		</li>
		<li>
			<h4>Freelance voor een design studio</h4>
			<ul>
				<li>Jaar: 2017</li>
				<li>Tools: React/Next, Sanity</li>
				<li>Salaris: € 2100,-</li>
			</ul>
		</li>
		<li>
			<h4>Een full service agency vanuit stage</h4>
			<ul>
				<li>Jaar: 2023</li>
				<li>Tools: Svelte, Vite</li>
				<li>Salaris: € 2600,-</li>
			</ul>
		</li>

	</ul>
	
	<h2>5 punten voor werk zoeken</h2>

	<p>Robert geeft ons vijf punten mee die hij belangrijk vindt en waar je op kan letten bij het zoeken naar een baan:</p>

	<ol>
		
		<li>
			<h3>Landschap</h3>
			<p>In welke sector ga je werken? Let hierbij op de rollen, hoe flexibel het is en wat de cultuur is. Momenteel is er veel behoefte aan <i>developers</i>. <i>Frameworks</i> veranderen elke keer, dus leer de <i>fundamentals</i> en blijf nieuwsgierig.</p>
		</li>

		<li>
			<h3>Type Werkgever</h3>
			<p>Hoe ga je werken? Dit kan als <i>freelancer</i>, via detachering, <i>full service</i>. Alles heeft zowel voordelen en nadelen. Wat is de <i>stack</i> die ze gebruiken, hierbij is niets heb beste. Meestal is het de voorkeur van de eerste werknemer.</p>
		</li>

		<li>
			<h3>Geld</h3>
			<p>Wat ga je verdienen? Hierbij heb je het altijd over bruto, daarbij wordt 3800 euro bruto ongeveer 2900 euro netto. Er is niet echt een goed salaris. Roberts tip is om dit met elkaar te bespreken en op internet te zoeken. Je moet ongeveer je maandelijkse kosten rekenen plus twee keer 300 euro.</p>
		</li>

		<li>
			<h3>Benefits</h3>
			<p><i>Benefits</i> komen bij je salaris. Denk hierbij aan reiskosten, pesioen, bonus, winstuitkering, vakantiegeld en bijvoorbeeld een auto van de zaak. Zoek een goede balans tussen het salaris en de <i>benefits</i>.</p>
		</li>

		<li>
			<h3>The Vibe</h3>
			<p></p>
		</li>
	</ol>

	<h2>Reflectie</h2>

	<p>Robert blijft het langste hangen bij het onderwerp over geld en benefits, net als dat hij eerder bij de voorbeelden van studenten ook lang in ging op het salaris. Dit vindt hij blijkbaar een belangrijk onderwerp. En hoewel dit natuurlijk ook belangrijk is, ben ik daar zelf nu niet zo mee bezig. Ik vind het vooral belangrijk dat ik ook leuk werk kan doen. Roberts presentatie ging hier heel kort over met de <i>vibe</i> en het landschap. Verder ging het over de tools, en hoewel ik die ook wel belangrijk vind en weiger om iets anders te gebruiken dan vanilla HTML, CSS en JavaScript wil ik altijd ook graag weten of de projecten waar ik aan ga werken leuk zijn. Dat is tenslotte waar ik hele dagen mee bezig ga zijn. Samengevat verteld Robert dus belangrijke onderwerpen, maar is volgens mij zijn verhaal net een beetje eenzijdig.</p>


</main>

<%- include('partials/foot.ejs'); %>