<%- include('partials/head.ejs', {title: 'Weekly Nerd 5: Declarative Design'}); %>
	
<header>
	<hgroup>
		<p>Weekly Nerd 7</p>
		<h1>Creative Coding</h1>
	</hgroup>
	<p>Door: Rosa Schuurman op <time datetime="2024-04-10">10 april 2024</time></p>
</header>
<main>

	<p>Rosa heeft als creative director gewerkt bij Elastique en Wetteloos. Daarna heeft ze aan de kunstacademie een master gevolgt in <i>experimental publishing.</i> In deze weekly nerd vertelde ze over <i>ciruit bending</i> en <i>creative coding</i>. Ze vertelde over allerlei creative dingen met code en techniek die ze daarmee doet en maakte af en toe een bruggetje naar de wereld van <i>webdevelopment</i>.</p>

	<h2>Circuit bending</h2>
	<p><i>Circuit bending</i> is de creatieve manipulatie van circuits in elektronische apparaten om nieuwe muziek of visuele instrumenten te creëren. Het gaat om ombuigen van bestaande apparaten naar wat nieuws. Daarbij is het niet nodig om echt te begrijpen wat het doet en je kan dit doen zonder voorkennis. Daarbij zijn een paar regels:</p>

	<ul>
		<li>Werk altijd met batterijen voor de veiligheid</li>
		<li>Gebruik oren, ogen, neus, handen, hersenen etc.</li>
		<li>Ga opzoek naar kortsluiting</li>
		<li>Maak een vorm van interactie</li>
	</ul>

	<p>Wat je kan doen, is een apparaat open maken en kijken wat er van binnen gebeurt. Vervolgens kan je verschillende punten van het circuit verbinden en kijken wat er gebeurt. Rosa vergelijkt dit met het inspecteren van een element in de browser. Daar kan je ook zien hoe iets werkt en van alles proberen. Dit lijkt mij niet alleen een uitstekende techniek om onverwachte nieuwe dingen te creëren zoals Rosa dit doet, maar ook om juist wel te leren hoe bestaande dingen werken. Door dingen uit te proberen kan je zien wat er stuk gaat.</p>

	<h2>Creative Coding</h2>
	<p>Wat Rosa met cirquit bending doet, kan ze ook met programmeren. Ze geeft een aantal voorbeelden van wat ze hiermee heeft gemaakt.</p>

	<h3>Remix cloud</h3>
	<p>Remix cloud is een script dat Rosa heeft geschreven dat de website van Soundcloud aanpast. De muziek gaat bijvoorbeeld sneller of langzamer afspelen afhankelijk van de muispositie.</p>

	<h3>Telefoon router</h3>
	<p>Met het programma postmarketOS kan je oudere telefoons gebruiken waarvan de software niet meer ondersteund wordt. Ook kunnen veel oudere apparaten nog linux draaien, waar je bijvoorbeeld een webserver van kan maken. Voor Rosa's oude telefoon vond ze dit toch niet zo'n goed idee, omdat die elke twintig minuten uitvalt.</p>

	<p>Zowel cirquit bending als creative coding zijn volgens Rosa geen manieren om geld te verdienen. Als je websites kan maken waarschijnlijk wel. Hierbij geeft Rosa nog wat wijsheden:</p>

	<ul>
		<li>Positioneer jezelf al kritische maker.</li>
		<li><i>Hard skills</i> kunnen echt het verschil maken.</li>
		<li><i>Frameworks</i> maken niet uit. Het gaat erom dat je de logica van programmeren begrijpt.</li>
	</ul>

	<h2>Reflectie</h2>

	<p>Hoewel ik de tips goed vind en ik zeker denk dat het klopt dat je met websites maken geld kan verdienen, denk ik dat Rosa op het laatst het <i>creative coding</i> een beetje naar beneden haalt. Je kan er misschien niet direct geld mee verdienen, maar toch maakt Rosa hele leuke projecten, waar je zeker die <i>hard skills</i> van kan leren als je wel echt ook gaat kijken hoe hetgene werkt wat je aan het aanpassen bent.</p>
</main>


<%- include('partials/foot.ejs'); %>