<%- include('partials/head.ejs', {title: 'Weekly Nerd 1: Stop Using JS for That'}); %>
	
<header>
	<hgroup>
		<p>Weekly Nerd 3</p>
		<h1>Development = Creation + Creativity</h1>
	</hgroup>
	<p>Door: Jeffrey Arts op <time datetime="2024-02-28">28 februari 2024</time></p>
</header>
<main>

	<p><a href="https://www.jeffreyarts.nl/">Jeffrey Arts</a> is zowel kunstenaar als <i>developer</i>. Hoewel hij als developer is begonnen met het werken voor grote bedrijven, heeft hij later nog een kunstopleiding gevolgd. In deze weekly nerd vertelde Jeffrey over zijn werkwijze.</p>

	<h2>Toolkit</h2>

	<p>Jeffrey liet ons zien dat hij zijn eigen <i>toolkit</i> heeft gemaakt voor het ontwikkelen van zijn projecten. Een handig <i>tool</i>, waarmee hij stapje voor stapje zijn projecten maakt. Hoewel Jeffrey aan hele andere projecten werkt dan we bij Communicatie & Multimedia Design doen, zou deze manier van werken wel toepasselijk kunnen zijn.</p>

	<figure>
		<img src="/images/toolkit_development-creation-creativity.webp" alt="A screenshot of Jeffrey's toolkit">
	</figure>

	<p>In de toolbox kan Jeffrey zowel aan losse onderdelen werken als een goed overzicht hebben van het hele project. Ook kan hij met verschillende versies werken en door de geschiedenis kijken, waardoor het eigenlijk als een soort git werkt. Hoewel ik van git weet hoe het werkt en git veel universeler is, vindt ik Jeffrey's toolkit visueler wat overzichtelijker. De losse elementen zijn ook later weer te hergebruiken.</p>

	<h2>Projecten</h2>

	<p>Voor inspiratie heeft Jeffrey ons nog zijn projecten laten zien. Hij combineert veel digitaal met kunst in de fysieke wereld. Vaak iets wat hij digitaal genereert en vervolgens fysiek maakt. Zo ook zijn project waarvan de titel al precies zegt dat dit het geval is: <a href="https://www.interphygital.nl/">InterPhygical</a>. Via zijn website kunnen klanten kunstwerken genereren en aanpassen, die ze vervolgens van beton kunnen bestellen.</p>

	<div class="iframe-container aspect16-9 scale75">
		<iframe src="https://www.interphygital.nl/" frameborder="0"></iframe>
	</div>

	<p>Jeffrey vertelde dat mensen hem wel eens vragen of het ook nut heeft wat hij doet. Zijn antwoord daarop weet hij heel duidelijk: “Nee, maar ik vind het leuk en dat is genoeg”. Hij eindigdde zijn presentatie dan ook met een conclusie:</p>

	<blockquote>
		<p>Development != Efficiency / Costs</p>
		<p>Development = Creation + Creativity</p>
	</blockquote>

	<p>Dit is denk ik niet voor iedereen zo, <i>development</i> wordt ook bebruikt om hele nuttige dingen te maken. Ook dat kan volgens mij best leuk zijn en bovendien kan je er je geld mee verdienen. Misschien is het meer een combinatie van de twee.</p>

</main>

<%- include('partials/foot.ejs'); %>