<%- include('partials/head.ejs', {title: 'Weekly Nerd 6: Digitaal Toegankelijk'}); %>
	
<header>
	<hgroup>
		<p>Weekly Nerd 6</p>
		<h1>Digitaal Toegankelijk</h1>
	</hgroup>
	<p>Door: Marieke de Hoop en Pim Teeuwisse op <time datetime="2024-04-03">3 april 2024</time></p>
</header>
<main>
	<p><a href="https://digitaaltoegankelijk.nl/">Digitaal Toegankelijk</a> is een bedrijf wat andere bedrijven en organisaties helpt op het gebied van toegankelijkheid. In deze weekly nerd vertelden Marieke en Pim over die toegankelijkheid en hoe ze te werk gaan. Pim is mede-oprichter van het bedrijf en Marieke is nu onderzoeker bij het bedrijf. Marieke heeft zelf ook Communnicatie & Multimedia Design gestudeerd en is daarbij afgestudeerd op toegankelijkheid.</p>

	<h2>Verschillende beperkingen</h2>
	<p>Pim en Marieke beginnen over de verschillende soorten beperkingen die er zijn en waar we rekening mee kunnen houden.</p>

	<h3>Situationele beperking</h3>
	<p>Voorbeelden van situationele beperkingen zijn: geen geluid kunnen horen in een drukke metro en geen goed beeld hebben door reflecties van de zon in je scherm. Deze categorie is denk ik een hele belangrijke, omdat we deze situaties gauw even vergeten, hoewel dit natuurlijk veel voorkomende situaties zijn. Dit laat goed zien hoe groot de doelgroep voor toegankelijkheid wel niet is. Bovendien zijn voor dit soort situaties volgens mij hele simpele oplossingen te bedenken.</p>

	<h3>Tijdelijke beperking</h3>
	<p>Iemand heeft een tijdelijke beperking als hij bijvoorbeeld zijn pols heeft gebroken en daardoor geen muis meer kan gebruiken.</p>

	<h3>Permanente beperking</h3>
	<p>Mensen met permanente beperkingen zijn bijvoorbeeld blind, doof, of hebben een motorische stoornis. Pim laat wat cijfers zien, waaruit blijkt dat deze groep veel groter is dan de meeste mensen denken.</p>

	<h2>Buitensluiten</h2>
	<p>Wordt jij graag buiten gesloten? of sluit je graag anderen buiten? Zonder rekening te houden met toegankelijkheid voor mensen met deze beperkingen sluiten we mensen buiten.</p>

	<blockquote>
		<p>Zijn er wel eens ontwerpkeuzes die je maakt, waarvan je nu denkt “oei, daar sluit ik mensen buiten”?</p>
	</blockquote>

	<h2>WCAG</h2>
	<p>De <i>web content accessibility guidlines</i> (WCAG) is een lijst met richtlijnen voor toegankelijkheid op het web. De lijst is een soort checklist met vijftig criteria. Op de lijst zijn vier hoofdonderwerpen:</p>

	<ol>
		<li>
			<h3>Perceivable</h3>
			<p>Dit houdt in dat iedereen de context kan waarnemen en gaat over dingen als alt-text voor plaatjes en een hoog genoeg contrast.</p>
		</li>
		<li>
			<h3>Operable</h3>
			<p>Dit houdt in dat iedereen de content kan gebruiken en bereiken. Dit heeft bijvoorbeeld te maken met duidelijke links, die meer zeggen dan 'lees meer'.</p>
		</li>
		<li>
			<h3>Understandable</h3>
			<p>Dit houdt in dat de content door iedereen begrepen moet kunnen worden. Belangrijk is bijvoorbeeld om de juiste taal aan te geven, zodat de <i>screenreader</i> de tekst in de juiste taal kan voorlezen.</p>
		</li>
		<li>
			<h3>Robust</h3>
			<p>Dit houdt in dat je procuct op alle verschillende apparaten bruikbaar moet zijn. Hieronder vallen verschillende browsers, maar ook verschillende hulptechnologieën.</p>
		</li>
	</ol>

	<h2>De Big Four</h2>
	<p>Marieke komt met de vier, volgens digitaal toegankelijk belangrijkste richtlijn uit de WCAG, die ze de 'big four' noemen.</p>

	<ol>
		<li>
			<h3>Audio Control</h3>
			<p>Audio die langer is dan 3 seconden moet je kunnen pauzeren en het volume moet aanpasbaar zijn.</p>
		</li>
		<li>
			<h3>Geen keyboard trap</h3>
			<p>Als je met het toetsenbord navigeert mag je niet ergens vast komen te zitten. Dit kan bijvoorbeeld in een popup waar je met toetsenbord niet meer uit kan, of als er een loop ontstaat. Dit is eentje die ze niet zo veel voor zien komen.</p>
		</li>
		<li>
			<h3>Pause, Stop, Hide</h3>
			<p>Alle bewegende content zoals video en animaties moeten gepauzeert of verborgen kunnen worden. Ook mogen dingen die langer dan vijf seconden duren niet automatisch afspelen. Dit geld voor alle bewegende content.</p>
		</li>
		<li>
			<h3>Drie flitsen of onder de grens</h3>
			<p>Flitsen kunnen schadelijk zijn voor mensen met epileptie, daarom mogen er niet meer dan drie flitsen achter elkaar zijn, of moeten ze onder een bepaalde grenswaarde vallen.</p>
		</li>
	</ol>

	<h2>Tips</h2>
	<p>Marieke eindigd met een aantal tips om er voor te zorgen dat je aan de richtlijnen van de WCAG kan voldoen:</p>

	<ul>
		<li>Kijk of de techniek achter je product semantisch is.</li>
		<li>Luister een keer met een schermlezer naar je product.</li>
		<li>Gebruik een keer je toetsenbord om te navigeren.</li>
		<li>Test met je doelgroep.</li>
	</ul>

	<p>Deze tips vindt ik iets heel anders dan aan de richtlijnen voldoen. Hoewel Marieke eerder zij dat de WCAG een soort checklist is, is dit meer zelf onderzoek doen. Iets wat denk ik beter kan zijn en aanvullend op de WCAG, maar dit kost wel veel meer tijd.</p>

</main>


<%- include('partials/foot.ejs'); %>