<%- include('partials/head.ejs', {title: 'Artikelen'}); %>
	
	<header>
		<h1>Blog artikelen</h1>
	</header>

	<main>
	
	<% for (post of posts) { %>

		<%- include('partials/blog-item.ejs', {post})%>

	<% }; %>

	</main>

<%- include('partials/foot.ejs'); %>