<%- include('partials/head.ejs', {title: 'Weekly Nerd 8: Aan het werk, wat nu?'}); %>
	
<header>
		<hgroup>
			<p>Weekly Nerd 9</p>
			<h1>Op bezoek bij Q42</h1>
		</hgroup>
		<p>Door: Q42 op <time datetime="2024-05-22">22 mei 2024</time></p>
</header>
<main>

	<p><a href="https://www.q42.nl/">Q42</a> is een bureau wat digitale producten bouwt. Ze hebben bijvoorbeeld projecten gedaan voor het Rijksmuseam, PostNL, Hema en Philips Hue. Hoewel Q42 natuurlijk voor hun klanten het werkt, vinden ze zelf de eindgebruiker belangrijker dan de klant. Zo houden ze heel goed rekening met de gebruikers ervaring en dus toegankelijkheid. Deze weekly nerd gingen we bij hun verstiging in Amsterdam op bezoek, waar ze een aantal van hun projecten hebben laten zien, waarin toegankelijkheid een grote rol heeft gespeeld.</p>

	<h2>Q42 over toegankelijkheid</h2>

	<blockquote>
		<p>I'm not disables, the world disables me.</p>
	</blockquote>

	<p>De presentatie begint met deze quote van Darice. Bij Q42 vinden ze dat we dit probleem kunnen oplossen door de eindgebruiker als belangrijkste te zien. Ze organiseren vaak tests met gebruikers of <i>meetings</i> met experts. Een voorbeeld was een test, waarbij de gebruiker wilde dat de designers door een plastic hoes keken. Dit was hoe hij de wereld zag en dus hun product moest gebruiken. Zo kijken ze bij Q42 op een veel pragmatischere manier naar toegankelijkheid dan door alleen de verplichte richtlijnen te volgen.</p>

	<h2>Projecten</h2>

	<h3>Sense Math</h3>

	<p>Sense Math is een app voor blinde leerlingen die wiskunde leren. Wiskunde wordt altijd heel visueel aangeboden, waarbij de plaatjes echt nodig zijn. Met deze app kunnen leerlingen naar grafieken luisteren. In een voorbeeld konden we horen dat er veel verschillende geluidjes bij komen. Een hoge of lage toon voor hoe hoog of laag de grafiek is, maar ook geluiden voor de top de assen en bijvoorbeeld snijpunten.</p>

	<h3>Oculi Munci</h3>
	<p>Een ander project wat ze lieten zien is Oculi Muncdi. Dit is een website voor een museum waarop oude kaarten digitaal bekeken kunnen worden. De website is meer vormgegeven als een game met allerlei drie dimensionaal lijkende elementen, waardoor het niet vanzichzelf toegankelijk is. Normaal gesproken zouden dit soort websites gebouwt worden met <i>libraries</i> en een canvas, maar Q42 heeft dit gedaan met vanilla HTML en losse html-elementen.</p>

	<figure>
		<img src="/images/oculi-mundi_op-bezoek-bij-q42.webp" alt="Een screenshot van de website van Oculi Munci, waarop verschillende oude kaarten op 3d bollen te zien zijn">
	</figure>

	<p>Bron: <a href="https://oculi-mundi.com/">https://oculi-mundi.com/</a></p>

	<p>Dit deet mij gelijk denken aan de <i>social media simulator</i> waar ik momenteel aan bezig ben. Wij hebben hierbij er ook voor gekozen om elementen in plaats van een canvas te gebruiken. Ik ben blij om te zien dat dit meer wordt gedaan en door webbureau's dus ook als beste optie wordt gezien. Mij leek dit ook de beste optie. Het maakt het niet alleen makkelijker om iets interactief te maken, maar standaard elementen zijn ook uit zichzelf al toegankelijk.</p>


</main>

<%- include('partials/foot.ejs'); %>