<%- include('partials/head.ejs', {title: 'Weekly Nerd 1: Stop Using JS for That'}); %>
	
<header>
	<hgroup>
		<p>Weekly Nerd 10</p>
		<h1>Waag Futurelab</h1>
	</hgroup>
	<p>Door: Danny Lämmerhirt en Marit Hoefsloot op <time datetime="2024-05-30">30 mei 2024</time></p>
</header>
<main>

	<p><a href="https://waag.org/nl/">Waag Futurelab</a> doet onderzoek naar het etisch implementeren van tech. Dit doen ze vanuit de oude waag op de nieuwmarkt in Amsterdam. Deze weekly nerd was zowel een <i>workshop</i> als een onderzoek en test voor de waag. De weekly nerd werd gegeven door Danny en Marit van de Waat. Danny is <i>lead</i> van het internet lab en Marit is een <i>developer</i>.</p>

	<h2>Wat doet de Waag?</h2>

	<p>“Tech is meer dan je denkt”, begon Danny mee. Er zit van alles achter. Burgers hebben hun eigen perspectief, er zijn <i>services</i> en <i>apps</i>, daarachter zit een <i>tech stack</i>, die zelf bijvoorbeeld weer van andere <i>software</i> gebruik maakt enz. Wat gebruikers en developers belangrijk vinden is allemaal terug te zien in de <i>user interface</i>. Danny nam <a href="https://booking.com">booking.com</a> als een voorbeeld. Klanten vinden de look en feel belangrijk, daarom zijn er plaatsjes. Natuurlijk is het ook belangrijk hoeveel iets kost, dus is de prijs groot in beeld en kan je daar op sorteren. Booking zelf vindt het natuurlijk belangrijk dat klanten iets boeken, dus is er een grote 'book now' knop.</p>

	<p>Hoewel dit allemaal goed zichtbaar is, zit hier heel veel achter wat niet zichtbaar is voor de gebruiker. Vaak houden bedrijven geheim hoe een product ontwikkeld is. Wat is bijvoorbeeld het sociale ecosysteem of welke mensenrechten zitten er achter. De Waag wil dit alles inzichtelijker maken voor de eindgebruiker. Zij doen onderzoek naar hoe dit kan.</p>

	<h2>Workshop</h2>

	<p>Bij het <i>workshop</i> gedeelte werden wij begeleid door Marit. Ze begon met een aantal feiten en vragen, waarbij wij in vier kwadranten konden staan. De vragen gingen bijvoorbeeld bijvoorbeeld over welke telefoon, berichten app en <i>appstore</i> wij gebruiken en waarom wij daarvoor hadden gekozen.</p>

	<p>Zelf gebruik ik als telefoon bijvoorbeeld een Android en als berichten app WhatsApp. De telefoon heb ik meer gekozen omdat ik bij Android meer zelf kan kiezen en instellen, hoewel ik voor WhatsApp heb gekozen omdat iedereen het al gebruikt. Anderen uit de klas hadden veel meer dingen gekozen vanwege privacy. Hoewel ik daar vroeger niet over nadacht, probeer ik daar de laatste tijd meer actief wat aan te doen. Zo zet ik nu buitenshuis de wifi en bleutooth van mijn telefoon uit. Ik merk steeds meer dat het apparaat wat ik de hele dag mij heb niet te vertrouwen is.</p>

	<h3>Eigen telefoon ontwerpen</h3>

	<figure>
		<img src="/images/telefoon_waag-futurelab.webp" alt="Representatie van perfecte telefoon in zeshoekige kaartjes met iconen">
	</figure>

	<p>Als laatste opdracht mochten we in groepen met kaarten een nieuwe perfecte telefoon ontwerpen. Bij mijn groep ging het vooral over het zelf kunnen instellen en uitproberen van <i>features</i> (rechts onder in de afbeelding), waarbij het zelfs zover ging als dat de gebruiker zelfs code moet kunnen schrijven voor de telefoon. Daarnaast was beveiliging een belangrijk onderdeel, maar ook weer met veel verschillende opties (rechts boven in de afbeelding).</p>

</main>

<%- include('partials/foot.ejs'); %>